body {
    margin: 0;
}
.header {
    height: 80px;
    background: #263238;
    display: flex;
}

.title {
    color: white;
    align-self: center;
    margin: 0 32px;
    font-size: 1.75rem;
    font-weight: 100;
}

.filler{
    flex: 1 1 auto;
}

.nav-item{
    text-decoration: none;
    color: white;
    align-self: center;
    width: 80px;
}